body{
    background-color: rgb(0, 8, 29);
    overflow-x: hidden;
}

.bg-navbar{
    background-color: rgba(255, 255, 255, 0.041);

}

.bg-mainL{
    background-color: rgb(0, 8, 29);
}

a{
    text-align: center;
}